img.round {
    object-fit: cover;
    border-radius: 50%;
}

img.full {
    width: 100%;
}

img.panorama {
    object-fit: cover;
    width: 100%;
}

.container {
    position: relative;
}

.container .btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.container .btn:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}